/* Geral */
*,:focus {
  margin:0;
  padding:0;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/light.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* Cores */
:root {
  --cor-font:#F7FCFF;
  --inputCalc: rgba(255, 255, 255, 0.3);
  --btnsCalcBg:rgba(255, 255, 255, 0.4);
  --btnsCalc:rgba(255, 255, 255, 0.5);
  --btnsCalcOperadoresBg:rgba(255, 255, 255, 0.2);
}

/* Modo Escuro */
.changeMode:root {
  --inputCalc: rgba(2, 14, 39, 0.3);
  --btnsCalcBg:rgba(2, 14, 39, 0.4);
  --btnsCalc:rgba(2, 14, 39, 0.6);
  --btnsCalcOperadoresBg:rgba(2, 14, 39, 0.3);
}

/* Glassmorphism */
.bgEffect {
  display: block;
  color:#1F3E5A;
  transform: rotate(-90deg);
  position:absolute;
  font-size: 4rem;
  font-weight: 900;
  right: 140px;
  top:120px;
  mix-blend-mode: difference;
  letter-spacing: -0.065em;
  cursor:default;
}
.bgEffect::selection {
  user-select: none;
}

/* Containers */
.container {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  margin:0 auto;
  margin-top:55px;
  position:relative;
}
.container:after {
  content: '';
  background: linear-gradient(180deg, #BD1D8C 0%, #7A41CE 100%);
  width:260px;
  height:442px;
  position:absolute;
  z-index: -1;
  transform: skewY(10deg);
  border-radius: 18px;
  top:25px;
}

/* Operação */
.inputCalc {
  min-height: 118px;
  color: var(--cor-font);
  width:100%;
  text-align: right;
  background: var(--inputCalc);
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur( 40px );
  border-radius: 15px 15px 0px 0px;
}
.inputCalc div {
  margin: 30px 30px 15px 30px;
  word-wrap: break-word;
  word-break: break-all;
}
.inputCalc p {
  font-size: 1.05rem;
  margin-bottom: 5px;
}
.inputCalc h1 {
  font-size: 2.5rem;
}

/* Operações e Numeros */
.btnsCalc::selection {
  user-select: none;
}
.btnsCalc {
  width: 100%;
  background: var(--btnsCalcBg);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 0px 0px 15px 15px;
}
.btnsCalc div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin:15px;
  gap:4px;
}
.btnsCalc button.funcoes {
  background: var(--btnsCalcOperadoresBg);
}
.btnsCalc button:nth-child(16) {
  grid-area: 4 / 4 / 6 / 4;
  height: 100% !important;
}
.btnsCalc button:last-child::after {
  content: '.';
}
.btnsCalc button {
  width: 100%;
  max-width:74px;
  height: 55px;
  display:block;
  font-size: 24px;
  border:none;
  color:var(--cor-font);
  background: var(--btnsCalc);
  cursor:pointer;
}
.btnsCalc button:hover {
  background: var(--inputCalc);
  border: 2px solid var(--btnsCalcOperadoresBg);
  box-shadow: 0px 10px 25px rgba(4, 37, 100, 0.12);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 4px;
}
.btnsCalc button img {
  width:20px;
}

/* Troca de tema */
.btnContainer {
  display: flex;
  justify-content: flex-end;
}
.btnChangeMode {
  background: var(--btnsCalcOperadoresBg);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur( 2px );
  display: inline-block;
  width: 50px;
  height: 26px;
  border-radius:15px;
  border:none;
  cursor:pointer;
  text-align: right;
  margin:20px 70px 0 0;
  position: relative;
}
.btnChangeMode::after {
  content: '';
  width:22px;
  height:22px;
  display: block;
  background-color: var(--inputCalc);
  position:absolute;
  border-radius: 100%;
  top:2px;
  left:3px;
  transition:0.3s;
}
.btnChangeMode.ativo::after {
  left:25px;
}

/* Responsivo */
@media (max-width:400px) {
  .btnChangeMode {
  margin:20px 20px 0 0;
  }
  .container {
    margin-top:30px;
  }
}